/*
 * 安卓样式
 * @author 娄浩
 * @date 2018.10.24
 * */
/********************* 安卓低版本配置机型优化 **************************/
/*
 * rgba 颜色，背景，边框等; 阴影; 半透明,opacity; background cover 属性等;
 * */

/* 修复点击出现黑波纹 */
.ripple-wave, .messagebar .ripple-wave {
	background: #ddd;
}
/* 修复点击按钮黑波纹 */
.button-fill .ripple-wave, .navbar .ripple-wave, .toolbar .ripple-wave, .subnavbar .ripple-wave, .searchbar .ripple-wave, .notifications .ripple-wave, .floating-button .ripple-wave, .speed-dial-buttons a .ripple-wave {
	background: #eee;
}
html:not(.watch-active-state) .button:active, .button.active-state {
	background: #eee;
}
html:not(.watch-active-state) .modal-button:active, html:not(.watch-active-state) .modal-buttons .button:active, .modal-button.active-state, .modal-buttons .button.active-state {
	background: #eee;
}
/* 优化导航栏工具栏阴影影像性能问题 */
.navbar-fixed .navbar, .navbar-through .navbar, .tabbar-fixed .toolbar, .tabbar-labels-fixed .toolbar, .toolbar-fixed .toolbar {
	box-shadow: 0 2px 10px rgba(0,0,0,.4);
}
/* 修复安卓加载提示异常效果 */
.preloader-inner .preloader-inner-left .preloader-inner-half-circle {
	-webkit-animation-name: none;
	animation-name: none;
}
.preloader-inner .preloader-inner-right .preloader-inner-half-circle {
	-webkit-animation-name: none;
	animation-name: none;
}
/* 修复页面出现时，列表边框出现黑色问题 */
.list-block .item-inner:after, .list-block ul:before, .list-block ul:after, .item-input-field:after, .input-field:after {
	background-color: #ccc;
}
/* 修复 chips 组件出现时，出现黑色背景问题 */
.chip {
	background: #ddd;
}
/* 修复悬浮按钮影响页面滚动性能问题 */
.button-raised {
	box-shadow: 0 2px 4px rgba(0,0,0,.4);
	/*border: 1px solid #eee;*/
}
/* 修复卡片阴影影响页面滚动性能问题 */
.card {
	box-shadow: none;
	border: 1px solid #ddd;
}

/* 修复 popover 性能问题 */
.popover {
	box-shadow: none;
}
/* 侧栏在低端机出现黑色 */
.panel-overlay {
	opacity: inherit;
	display: none;
}
/* 修复模态框弹出卡顿问题 */
.modal {
	box-shadow: none;
}
/* 修复模态框出现黑屏问题 */
.modal-overlay, .preloader-indicator-overlay, .popup-overlay, .picker-modal-overlay {
	opacity: inherit;
	display: none;
}
.modal-overlay.modal-overlay-visible, .preloader-indicator-overlay.modal-overlay-visible, .popup-overlay.modal-overlay-visible, .picker-modal-overlay.modal-overlay-visible {
	opacity: inherit;
	display: block;
}
/* 修复内容黑边框 */
.content-block-inner:before, .content-block-inner:after{
	background: #ccc;
}
/* 修复底部工具栏遮住浮动按钮问题 */
.speed-dial{
	bottom: 59px;
}
/********************************* 以下为安卓风格样式 ************************************/
/* 滚动条（效果不理想） 
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
*/
.container-crowdsourcing::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
.container-crowdsourcing::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.2);
	border-radius: 4px;
}
.container-crowdsourcing::-webkit-scrollbar-corner {
	background: transparent;
}
.page{
	background:#f2f4f7;
}
.content-block-inner{
	background: #fff;
}
.statusbar-overlay{
	background:#fff;
}
/* 隐藏返回按钮文案 */
.navbar .link.back span, .navbar .link.close-popup span, .navbar .link.btn-close span{
	display:none;
}
/* 子导航栏当前按钮样式 */
.subnavbar .button:not(.button-fill){
	color: rgba(255,255,255,0.7);
}
.subnavbar .button.active{
	border-bottom: 3px solid #90cbf9;
    color: #fff;
}
/* ==== 首页标签栏 ==== */
.home-tabbar, .detail-toolbar{
	height: 44px;
	background:#fff;
}
.home-tabbar a.tab-link, .detail-toolbar a.link{
	padding: 5px 0 3px 0;
	color: #717682;
}
.home-tabbar a.tab-link.active, .detail-toolbar a.link.active{
	color: #4caf50;
}
.home-tabbar span.tabbar-label, .detail-toolbar span.tabbar-label{
	font-size: 10px;
	line-height: 12px;
	height: 12px;
	margin-top: 2px;
}
.home-tabbar .icon, .detail-toolbar .icon{
	font-size: 22px;
	line-height: 22px;
}
.home-tabbar .tab-home .icon:after{
	content: "\e6bb";
}
.home-tabbar .tab-news .icon:after{
	content: "\e7ab";
}
.home-tabbar .tab-IM .icon:after{
	content: "\e779";
}
.home-tabbar .tab-release .icon:after{
	content: "\e767";
}
.home-tabbar .tab-mine .icon:after{
	content: "\e78c";
}
/* 首页内容 */
.page-home .page-content, .page-news .page-content, .page-IM .page-content, .page-release .page-content, .page-mine .page-content{
	padding-bottom: 48px;
}
/* 隐藏ajax错误提示图标 */
.modal .icon{
	display:none;
}
/* ==== 列表 ==== */
.list-block .button{
	height: 29px;
	line-height: 29px;
}
.list-block .item-media .badge{
	position: absolute;
	top:6px;
	right:0;
}
/* 区块 */
.block .toolbar-inner{
	padding: 0 42px 0 15px;
}
.block .toolbar-inner.with-arrow a.title-link{
	padding: 0 42px 0 15px;
}
.block .toolbar .title, .grid > [class*="col-"] > .label, .swiper-horizontal .item-title, .tab-wrapper .tabbar a.tab-link{
	color: #000;
}

/* 行内选项卡 */
.inline-tab{
	border-bottom: 1px solid #ccc;
}
.inline-tab .button{
	border-radius: 0;
}
.inline-tab .button.active{
	color: #000 !important;
	border-bottom: 1px solid #007aff;
}
/* 消息栏 */
.message-received.message-with-avatar .message-text,
.message-received.message-with-avatar .message-name,
.message-received.message-with-avatar .message-label,
.message-sent.message-with-avatar .message-text,
.message-sent.message-with-avatar .message-name,
.message-sent.message-with-avatar .message-label {
	max-width: 85%;
	min-width: 50%;
}

.message {
	max-width: 85%;
	min-width: 50%;
}
.messagebar .btn-emoji{
	margin-right:-10px;
}
.emoji-cont, .more-cont{
	bottom: 48px;
}
.message .message-text .list-block.media-list .item-inner, .list-block li.media-item .item-inner{
	padding: 0 0 0 5px;
	margin: 0;
}
.message-received .footer{
	border-top: 1px solid #eee;
	color: #999;
}
.message-sent .footer{
	border-top: 1px solid #ccc;
	color: #666;
}
/* 发送验证码按钮 */
.btn-verify-code{
	position: absolute;
	top: -40px;
	right: 20px;
}
/* 详情页 底部 */
.detail-toolbar .toolbar-inner {padding: 0 16px;}
.detail-toolbar .icon{
	font-size: 16px;
}
/*.home-tabbar .tab-release .icon{
	border-radius: 25px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	z-index: 6000;
	box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
}*/

/*.home-tabbar a.tab-link.tab-link-release.active{
	color: #4caf50;
}*/

.home-search-hot {
	position: absolute;
	top: 10px;
	right: 20px;
}
