/***** iOS style *****/
/* 文字颜色 */
body, .block .toolbar .title, .grid > [class*="col-"] > .label, .tab-wrapper .tabbar a.tab-link, .swiper-horizontal .item-title, .content-block-inner{
	color: rgb(60, 68, 89);
}
/* 主题扩展 */
.bg-purple{
	background-color:#9c27b0;
}
.bg-deeppurple{
	background-color:#673ab7;
}
.bg-indigo{
	background-color:#3f51b5;
}
.bg-cyan{
	background-color:#00bcd4;
}
.bg-teal{
	background-color:#009688;
}
.bg-lightgreen{
	background-color:#8bc34a;
}
.bg-lime{
	background-color:#cddc39;
}
.bg-amber{
	background-color:#ffc107;
}
.bg-deeporange{
	background-color:#ff5722;
}
.bg-brown{
	background-color:#795548;
}
.bg-bluegray{
	background-color:#607d8b;
}
/* ==== iOS 毛玻璃效果 ==== */
.statusbar-overlay, .toolbar, .modal-inner, .modal-button, .actions-modal-label, .actions-modal-button, .notifications .notification-item, .popover{
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background: rgb(246,245,246);
}
.statusbar-overlay, .navbar, .popup, body{
	background: rgb(246,245,246);
}
/* ==== 列表 ==== */
.list-block .item-media, .list-block .item-link .item-inner{
	padding-top: 10px;
	padding-bottom: 10px;
}
.list-block .item-text{
	max-height: 42px;
	height: auto;
}
.list-block .item-media .badge{
	position: absolute;
	top:0;
	right:0;
}
/* ==== 首页标签栏 ==== */
.home-tabbar i.icon, .detail-toolbar i.icon{
	font-size: 24px;
	height: 30px;
	line-height: 30px;
}
.home-tabbar .tab-home .icon:after{
	content: "\e6b8";
}
.home-tabbar .tab-news .icon:after{
	content: "\e699";
}
.home-tabbar .tab-IM .icon:after{
	content: "\e6bc";
}
.home-tabbar .tab-release .icon:after{
	content: "\e767";
}
.home-tabbar .tab-mine .icon:after{
	content: "\e78b";
}
.home-tabbar .tab-home.active .icon:after{
	content: "\e6bb";
}
.home-tabbar .tab-news.active .icon:after{
	content: "\e7ab";
}
.home-tabbar .tab-IM.active .icon:after{
	content: "\e779";
}
.home-tabbar .tab-release.active .icon:after{
	content: "\e767";
}
.home-tabbar .tab-mine.active .icon:after{
	content: "\e78c";
}
.home-tabbar .dot{
	top:-2px;
	right: -2px;
}
/* 列表 */
.list-block.media-list .item-media, .list-block li.media-item .item-media{
	padding: 0;
	margin: 9px 0 10px;
}
/* 区块 */
.block .toolbar-inner{
	padding: 0 35px 0 15px;
}
.block .toolbar-inner.with-arrow a.title-link{
	padding: 0 35px 0 15px;
}
/* chips & tags*/
.chip{
	background: #ddd;
	color: #6d6d72;
}
.list-block .item-content .chip{
	color: #6d6d72;
	background: #ddd;
}
/* 浮动按钮 */
.floating-button{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.speed-dial-opened .speed-dial-buttons a{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* 通知 */
.notifications li.notification-item .item-media{
	padding: 0;
}
.notifications .item-media i.icon{
	font-size: 20px;
}
.notifications .item-media i.icon.success{
	color: #4cd964;
}
.notifications .item-media i.icon.success:after{
	content: "\e656";
}
.notifications .item-media i.icon.error{
	color: #ff3b30;
}
.notifications .item-media i.icon.error:after{
	content: "\e658";
}
.notifications .item-media i.icon.warning{
	color: #ff9500;
}
.notifications .item-media i.icon.info{
	color: #007aff;
}
.notifications .item-media i.icon.info:after{
	content: "\e6e4";
}
/* 筛选器 */
.filterbar .button{
	border-color:#8e8e93;
	color: #8e8e93;
}
.filterbar .button.active{
	background-color: #8e8e93;
	color: #fff !important;
}
html.with-statusbar-overlay .popup-filter{
	top: 108px;
	height: calc(100% - 108px);
	height: -webkit-calc(100% - 108px);
}
/* 行内选项卡 */
.inline-tab{
	margin: 10px 15px;
}
/* 导航栏内选项卡*/
.navbar .buttons-row .button{
	min-width: 70px;
	font-size:12px;
}
/* 消息 */
.message-received.message-with-avatar .message-text,
.message-received.message-with-avatar .message-name,
.message-received.message-with-avatar .message-label,
.message-sent.message-with-avatar .message-text,
.message-sent.message-with-avatar .message-name,
.message-sent.message-with-avatar .message-label {
	max-width: 92%;
}

.message {
	max-width: 92%;
}
.messagebar:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	height: 1px;
	width: 100%;
	background-color: #ccc;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}
.messagebar .link {
	padding: 0 8px;
}
.emoji-cont, .more-cont{
	bottom: 44px;
}
.message .list-block.media-list .item-link .item-inner {
	margin-left:5px;
	padding-left:0;
}
.message-received .footer{
	border-top: 1px solid #aaa;
	color: #999;
}
.message-sent .footer{
	border-top: 1px solid #eee;
	color: #fff;
}
.detail-toolbar i.icon{
	font-size: 16px;
}
.detail-toolbar .button i.icon:first-child {margin-right: 0px;}
.message-sent .message-text .color-blue, .message-sent .message-text .color-gray{
	color: #fff !important;
}
.message-received .message-text .color-gray{
	color: #333 !important;
}
.message-text .list-block.media-list .item-link .item-inner{
	padding-right: 0;
}
/* 群展播功能 */
.exhibition-list{ top:35px;}

/* 工具栏-发布按钮 */
.tabbar, .toolbar-inner, .tabbar a.tab-link {
	overflow: visible;
}
.home-tabbar .tab-release .icon{
	border-radius: 25px;
	margin-top: -13px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	z-index: 6000;
}
.tabbar a.active.tab-release{
	color: #4caf50;
}
.span-label{
	border: 0.5px solid #ccc;
	font-size: 10px;
	padding: 2px;
}
.home-search{
	border: 0.5px solid #c4c4c4 !important;
}
/* 全网搜索产品详情底部来源样式 */
 .net-product-detail-wrap {
	width: 100%;
	position: relative; 
	font-size: 10px;
	margin: 0 auto;
	bottom: -15px;
} 
/* 首页搜索New样式 */
.home-search-hot {
	position: absolute;
	top: 10px;
	right: 20px;
}

/* 首页搜索栏弹出区域 */
.search-div{
	position:absolute;
	top:44px;
	bottom:50px;
	background: rgba(0, 0, 0, 0.4);
	z-index: 999;
	width: 100%
}